.d-flex {
  display: flex;
}

.abs {
  position: absolute;
}

.p-unset {
  position: unset !important;
}

.border {
  border: 1px solid white;
}

.w-auto {
  width: auto !important;
}

/* 배경처리 : 찌그러지지않게 처리 */
#mainBanner .swiper-slide {
  height: 0;
  padding-top: 43%;
  /* width 100% 조건이 내장되어야 한다. */
  background-repeat: no-repeat;
  background-size: 100%;
}

#mainBanner .btns {
  bottom: 2rem;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: 10000;
  line-height: 2rem;
}

#mainBanner .swiper-pagination {
  align-items: center;
  display: flex;
}

#mainBanner .swiper-pagination-bullet {
  border-radius: 0;
  width: 3rem;
  height: 8px;
  opacity: 1;
  margin: 0;
  position: relative;
  background-color: transparent;
}

#mainBanner .swiper-pagination-bullet:before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
}

#mainBanner .swiper-pagination-bullet-active {
  background-color: transparent;
}

#mainBanner .swiper-pagination-bullet-active:before {
  height: 3px;
}

#mainBanner .btns button {
  background-color: transparent;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 18px;
  padding: 0;
  align-items: center;
}

.bg0 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/202309/1693899949661_0.jpg);

}

.bg1 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/201901/1546929273425_0.jpg);

}

.bg2 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/201901/1546928897582_0.jpg);

}

.bg3 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/202308/1692251347164_0.jpg);

}